<!DOCTYPE html>
<html>
<head>
    <title><%= data.username %>'s Profile</title>
</head>
<body>
    <h1><%= data.name %> (@<%= data.username %>)</h1>
    <p><%= data.bio %></p>
    <ul>
        <li><strong>Posts:</strong> <%= data.posts %></li>
        <li><strong>Followers:</strong> <%= data.followers %></li>
        <li><strong>Following:</strong> <%= data.following %></li>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
